.contact .row{
    display: flex;
    flex-wrap: wrap;

    & .map{
        flex: 1 1 42rem;
        width: 100%;
    }

    & form {
        flex:1 1 42rem;
        padding: 2rem;
        text-align: center;
        background: $grayBlack;
        // background: red;

        & h3 {
            font-size: 3rem;
            color: $main-color;
            padding-bottom: 1rem;
        }

        & .box{
            width: 100%;
            padding: 1rem 1.2rem;
            background: $black;
            color: $white;
            font-size: 1.6rem;
            text-transform: none;
            margin: .7rem 0;
        }

        & textarea{
            height: 15rem;
            resize: none;
        }
    }
}