@import 'config';

/* media queries  */

@media (max-width:991px){

    html {
        font-size: 55%;
    }

    .header {
        padding: 2rem;

        &.active {
            padding: 2rem;
        }
    }

    section {
        padding: 2rem;
    }

}

@media (max-width:768px){

    .header {

        & .icons #menu-btn {
            display: inline-block;
        }

        & .search-form {
            width:90%;
        }

        & .navbar {
            position: absolute;
            top: 99%; left: 0; right: 0;
            background: $grayBlack;
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

            & a {
                display: block;
                margin: 2rem;
                font-size: 2rem;
            }

            &.active{
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            }
        }
    
    }
}


@media (max-width:450px){

    html{
        font-size:50%;
    }

    .home .home-slider .swiper-button-next,
    .home .home-slider .swiper-button-prev{
        display: none;
    }

}